<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techie Talk-Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body class="flex-column">
    <nav>
      <a href="/" class="nav-item">Home</a>
      {{#if loggedIn}}
        <a href="/dashboard" class="nav-item">Dashboard</a>
        <button class="nav-item btn-no-style" id="logout">Logout</button>
      {{else}}
        <a href="/login" class="nav-item">Login</a>
      {{/if}}
    </nav>
    <header class="hero">
      <h1>
        <a class="app-title" href="/">Techie Talk</a>
      </h1>
    </header>
    <main class="col-auto">
      {{{body}}}
    </main>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>