<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body class="flex-column">
    <nav>
      <a class="nav-item" href="/">Home</a>
      {{!-- {{#if loggedIn}} --}}
        <a class="nav-item" href="/dashboard">Dashboard</a>
        <button class="nav-item btn-no-style" id="logout">Logout</button>
      {{!-- {{else}} --}}
        <a class="nav-item" href="/login">Login</a>
      {{!-- {{/if}} --}}
    </nav>
    <header class="hero">
      <h1>
        <a class="app-title" href="/">My Tech Blog</a>
      </h1>
    </header>
    <main class="flex-row justify-space-between">
      {{{body}}}
    </main>
    {{!-- {{#if loggedIn}} --}}
      <script src="/javascript/logout.js"></script>
    {{!-- {{/if}} --}}
  </body>

</html>