{{> post-info post }}

{{#if loggedIn}}
  <form class="comment-form user-form">
    <div>
      <textarea name="comment-body" class="form-input"></textarea>
    </div>

    <div>
      <button type="submit" class="btn">add comment</button>
    </div>
  </form>
  {{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}